<header class="header">
    <h1>StockWise</h1>
    <nav>
        <a href="/" class="navLink">Home</a>
        <a href="/products" class="navLink">Products</a>
        <a href="/categories" class="navLink">Categories</a>
    </nav>

    <form method="GET" action="/">
        <input class="inputText" name="search" placeholder="Search Product">
        <button class="button" type="submit">Search</button>
    </form>
</header>