<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/products.css">
    <link rel="stylesheet" href="/form.css">
    <title>Products</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <div class="heading">
            <h2>Products</h2>
            <div class="addProduct button"><a href="/products/new">Add a Product</a></div>
        </div>
        <div class="main">
            <div class="sidebar">
                <form action="/products" method="get">

                    <fieldset>
                        <legend>Sort By Price</legend>
                        <label>
                            <input type="radio" name="price_sort" value="asc">
                            Ascending
                        </label>
                        <label>
                            <input type="radio" name="price_sort" value="desc">
                            Descending
                        </label>
                    </fieldset>

                    <fieldset>
                        <legend>Sort By Name</legend>
                        <label>
                            <input type="radio" name="name_sort" value="asc">
                            Ascending
                        </label>
                        <label>
                            <input type="radio" name="name_sort" value="desc">
                            Descending
                        </label>
                    </fieldset>

                    <fieldset>
                        <legend>Filter By Category</legend>
                        <label>
                            <input type="checkbox" name="category[]" value="bakery">
                            Bakery
                        </label>
                        <label>
                            <input type="checkbox" name="category[]" value="beverages">
                            Beverages
                        </label>
                        <label>
                            <input type="checkbox" name="category[]" value="condiments">
                            Condiments
                        </label>
                        <label>
                            <input type="checkbox" name="category[]" value="dairy">
                            Dairy
                        </label>
                    </fieldset>
                    <button class="button" type="submit">Apply</button>

                </form>
            </div>
            <div class="products">
                <% for (const product of products) { %>
                <a href="/products/<%= product.product_id%>">
                    <div class="card">
                        <div class="emoji">🍌</div>
                        <div class="itemContainer">
                            <h3 class="name">Banana</h3>
                            <p class="price">$1.5</p>
                        </div>
                        <p class="brand">Brand: Bakery Dough</p>
                        <p class="quantity">Quantity: 70</p>
                        <div class="category" style="background-color: lightblue;">Fruit</div>
                    </div>
                </a>
                <%} %>
            </div>

        </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
